* {
    box-sizing: border-box;
}

.NavBarSelect {
    /*background-color: #3c6cd3;*/
}

@media (min-width: 1140px) {
    .NavigationBarSelect {
        display: flex;
        margin: 0px 20px 0px 150px;
        padding-top: 8px;
        justify-content: center;
    }
}

.NavBarSelectItem {
    flex: 1 1 0;
    padding: 16px 16px 10px;
    align-items: center;
    text-align: center;
}

.ButtonInput {
    margin-top: 10px;
    text-align: center;

}



.NavBarIcon {
    /*css иконок*/
}

.NavBarText {

    margin-top: 8px;
    font-size: 16px;
    line-height: 16px;
    color: bisque;
}

.NavBarSearch {
    display: flex;
    padding: 16px 16px 10px;
    text-align: right;
    align-self: center;
    flex: 1 1 0;
}