.TutorItem {
    min-height: 260px;
    width: 800px;
    background-color: rgb(226, 237, 255);
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.767);
}

.TutorListContent {
    display: flex;
    max-width: 1266px;
    margin: 0 auto;
}

.Tutorlist {
    margin: 0 auto 0 50px;
    margin-bottom: 50px;
    flex-direction: column;
    max-width: 1366px;
    margin-top: 50px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.TutorImg {
    background-color: black;
    height: 160px;
    width: 160px;
    margin-top: 3.5%;
    margin-left: 10px;
    margin-right: 10px;
}

.TutorInfo {

    height: 90%;
    width: 70%;
    align-self: center;

    display: flex;
    flex-direction: column;
    padding-left: 0px;

}

.TutorInfoPart1 {
    display: flex;
    justify-content: space-between;
}



.TutorName {
    font-size: 30px;
}

.TutorMark {
    height: 25px;
    text-align: center;
    font-size: 25px;
    margin-right: 8px;
    margin-top: 10px;

    width: 50px;
    background-color: rgb(52, 255, 143);
    box-shadow: 0px 0px 5px rgb(70, 255, 193);
    border-radius: 2px;
}

.TutorCost {
    align-self: flex-start;
    font-size: 20px;

    color: rgb(59, 59, 59);
    margin-right: -30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.TutorLesson {
    font-size: 20px;
}

.TutorH3 {
    color: rgb(68, 68, 68);
    padding-bottom: 5px;
}

.TutorAbout {
    margin-top: 5px;
}